.rounded-question-mark {
    border: 1px solid;
    border-radius: 22px;
    height: 32px;
    width: 30px;
}

.rounded-question-mark p {
    position: relative;
    left: -3px;
    bottom: 3px;
}

.hover-trigger .hover-target {
    display: none;
}

.hover-trigger:hover .hover-target {
    display: block;
    float: left;
    right: 25px;
    top: 38px;
}