@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: #FF9933;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rounded-question-mark{
  border: 1px solid;
  border-radius: 22px;
  height: 32px;
  width: 30px;
}

.rounded-question-mark p{
  position: relative;
  left: -3px;
  bottom: 3px;
}

.hover-trigger .hover-target {
    display: none;
}

.hover-trigger:hover .hover-target {
  display: block;
  float: left;
  right: 25px;
  top: 38px;
}

.endava-text-color{
  color: #FF9933;
}

/*cards css*/
.cards-header{
  background-color: #868E96;
  border-radius: 5px 5px 0 0;
}

.card-logo{
  height: 75px;
  width: 75px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

.cards-header p{
  padding: 30px 40px;
  position: relative;
}


.card-body{
  padding-top: 10px;
  border: 1px solid gray;
}

.add-icon{
  width: 25px;
  height: 25px;
}

.delete-icon{
  height: 30px;
}

.main-card-resume-total span{
  padding-left: 50px;
}

.endava-bg-color{
  background-color: #FF9933;
}